*{
    font-family: "Manrope", sans-serif;
}

body p{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    color: rgba(19, 19, 24, 0.60);
}

body a{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: var(--Dark-02, #424247);
}
footer a{
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.60);
}
body h2{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color: #131318;
}
body h4{
    font-size: 20px;
    font-weight: 800;
    color: #FFF;
}
body h5{
    font-size: 16px;
    font-weight: 700;
    color: #131318;
}
.buttom{
    padding: 13px 23px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #FF4240;
    font-size: 18px;
    font-weight: 600;
    color: #FFF;
}
.shado{
    background:black;
    border-radius: 18px;
}
.ourmaindiv span{
    color: rgba(19, 19, 24, 0.60);
    font-weight: 500;
    margin: 5px 0px ;
}
.collapse-plus input{
    color: red;
}
@media screen and (max-width: 378px) {
  .boxasbo{
      padding: 15px !important;
    
  }
  .arrowwoo{
      bottom: 30px !important;
  }
}
@media screen and (max-width: 472px) {
    .arrowwoo{
        bottom: 30px !important;
    }
    .spcarrds{
        font-size: 20px !important;
    }
  }